<!doctype html>
<html>
<head><title>Enter Data</title></head>
<body>
  <h1>Submit Your Jira Project And Credentials</h1>
  <form method="POST">
    <input type="text" name="Jira Server" placeholder="Jira Server" required><br>
    <input type="text" name="Jira API Token" placeholder="Jira API Token" required><br>
    <input type="text" name="Auth User Email" placeholder="Auth User Email" required><br>
    <input type="text" name="Project Name" placeholder="Project Name" required><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>